:root {
  --primary: #32dac5;
  --secondary: #ff98c6;
  --shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
}

* {
  margin: 0;
  font-family: 'Montserrat'
}

html {
  background: url(images/bg-img.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.header {
  background-color: #fff;
  width: 100vw;
  height: 120px;
  line-height: 60px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
}

a {
  flex-direction: row;
  text-decoration: none;
  padding: 20px 50px;
  color: #000;
}

a:hover {
  border-bottom: 2mm ridge #84f7e999;
  padding: 10px 50px;
}

li {
  list-style-type: none;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  margin-right: 0;
  text-decoration: none;
  color: #fff;
  padding: 20px 20px;
}


button {
  text-decoration: none;
  background-color: transparent;
  font-size: 25px;
  color: #000;
  padding: 20px 50px;
  border: 2px solid var(--primary);
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

button::after,
button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all .5s;
  border-radius: 5px;
}

button::before {
  top: -15px;
  left: -15px;
  border-width: 2px 0 0 2px;
  border-color: var(--secondary);
}
button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 2px 2px 0;
  border-color: var(--secondary);
}

button:hover::before, button:hover::after{
width: calc(100% + 27px);
height: calc(100% + 27px);
}