:root {
  --primary: #32dac5;
  --secondary: #ff98c6;
  --shadow: rgba(110, 112, 114, 0.3) 0px 8px 24px;
}

* {
  margin: 0;
  font-family: 'Montserrat';
  text-align: center
}

html {
  background: url(images/bg-img.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.header {
  background-color: #fff;
  width: 100vw;
  height: 70px;
  line-height: 30px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
}

a {
  flex-direction: row;
  text-decoration: none;
  padding: 20px 50px;
  color: #000;
}

a:hover {
  border-bottom: 4px solid #32dac5 ;
  transition:  0.1s linear;
  border-radius: 5px;
}

.buttons {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*________________________________*/
button {
  margin: 20px;
  width: 200px;
  background-color: transparent;
  font-size: 25px;
  color: #000;
  padding: 20px 50px;
  border: 2px solid var(--primary);
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

button::after,
button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all .5s;
  border-radius: 5px;
}

button::before {
  top: -15px;
  left: -15px;
  border-width: 2px 0 0 2px;
  border-color: var(--secondary);
}

button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 2px 2px 0;
  border-color: var(--secondary);
}

button:hover::before,
button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}
/*________________________________*/
.loading {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 400px;
  height: 40px;
  line-height: 40px;
  margin: auto auto;
  margin-top: 300px;
}
/*________________________________*/
p{
  margin-top: 20px;
}